<tr>
  <td class="align-middle"><%= badge.title %></td>
  <td class="align-middle">
    <image src=<%= "#{badge.image}" %> alt=<%= "#{badge.title} image" %> >
  </td>
  <td class="align-middle"><%= badge.description %></td>
</tr

