<tr>
  <td class="align-middle"><%= my_badge.title %></td>
  <td class="align-middle">
    <image src=<%= "#{my_badge.image}" %> alt=<%= "#{badge.title} image" %> >
  </td>
  <td class="align-middle"><%= my_badge.description %></td>
</tr

