<h1><%= t('.header', title: @test_passage.test.title) %></h1>

<div class="card border=primary mt-3">
  <div class="card-body">
    <p style="color: red"><%= t('.total', result: @test_passage.result.to_i ) %></p>
  </div>
</div>
