<h1><%= t('.header', title: @test_passage.test.title) %></h1>

<b><%= t('.counter', num: @test_passage.question_num, count: @test_passage.test.questions.count) %></b>
<p><b><%= @test_passage.current_question.body %></b></p>

<%= render 'form' %>

