<% flash.each do |key, message| %>
  <% if key == "notice" %>
    <div class="alert alert-primary" role="alert">
  <% elsif key == "alert" %>
    <div class="alert alert-danger" role="alert">
  <% else %>
    <div class="alert alert-<%= key %>" role="alert">
  <% end %>
      <%= content_tag :p, message %>
    </div>
<% end %>
