<div>
  <small>
    <p><%= current_year %> Asef Kaibov</p>
    <%= github_url('Asef90', 'test-guru') %>
    <p>Learning Project at <%= link_to 'Thinknetica Online School', 'http://thinknetica.com' %>
  </small>
</div>
