<footer class="footer">
  <small>
    <p><%= t('.author', year: current_year) %></p>
    <%= github_url('Asef90', 'test-guru') %>
    <p><%= t('.project') %> <%= link_to 'Thinknetica Online School', 'http://thinknetica.com'%></p>
  </small>
</footer>
