.pointer {
  cursor: pointer;
}

.hide {
  display: none;
}

.progress_bar {
  background-color: lightgrey;
  width: 100%;
}

.current_progress {
  width: 0%;
  height: 30px;
  background-color: green;
}

html, body {
  min-height:100%;
  position:relative;
}

.timer-countdown {
  color: green;
}
